<section class="advertisement-banner">
  <div class="collection-image">
  
      {{ section.settings.advertisement_image1 | image_url | image_tag:
        loading: 'lazy',
        width: 291,
        height: 220,
        alt: section.settings.advertisement_image1.alt | escape
      }}

  </div>
</section>

{% schema %}
{
  "name": "Advertisement Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "advertisement_image1",
      "label": "Advertisement Image 1"
    },
    {
      "type": "url",
      "id": "advertisement_url1",
      "label": "Advertisement Link 1"
    },
    {
      "type": "image_picker",
      "id": "advertisement_image2",
      "label": "Advertisement Image 2"
    },
    {
      "type": "url",
      "id": "advertisement_url2",
      "label": "Advertisement Link 2"
    },
    {
      "type": "image_picker",
      "id": "advertisement_image3",
      "label": "Advertisement Image 3"
    },
    {
      "type": "url",
      "id": "advertisement_url3",
      "label": "Advertisement Link 3"
    }
  ],
  "presets": [
    {
      "name": "Advertisement Banner"
    }
  ]
}
{% endschema %}