<section class="advertisement-banner">
  <div class="collection-image">


  </div>
</section>

{% schema %}
{
  "blocks": [
    {
      "type": "banner1",
      "name": "Advertisement Banner1",
      "settings": [
        {
          "id": "bannerImage1",
          "type": "image_picker",
          "label": "Banner Image 1"
        },
        {
          "id":"banner_url1",
          "type":"url",
          "label":"Banner Link 1"
        }
      ]
    },
    {
      "type": "banner2",
      "name": "Advertisement Banner2",
      "settings": [
        {
          "id": "bannerImage2",
          "type": "image_picker",
          "label": "Banner Image 2"
        },
        {
          "id":"banner_url2",
          "type":"url",
          "label":"Banner Link 2"
        }
      ]
    },
    {
      "type": "banner3",
      "name": "Advertisement Banner3",
      "settings": [
        {
          "id": "bannerImage3",
          "type": "image_picker",
          "label": "Banner Image 3"
        },
        {
          "id":"banner_url3",
          "type":"url",
          "label":"Banner Link 3"
        }
      ]
    }
  ]
}
{% endschema %}