<section class="flyer-page">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          {% render 'left-sidebar' %}
          
        </div>
        <div class="col-12 col-md-9 mt-4 mt-md-0">
          <div class="flyers-data">
            <h1 class="main-page-title page-title h0">
              {{ page.title | escape }}
            </h1>
            <div class="header-box flyer-sale-btn">
                <a href="/pages/current-local-flyer">View Our Current</a>
                <a aria-current="page" class="" href="/pages/canada-wide-flyer">Canada Wide Flyer</a>
            </div>
            <div class="page-feat-image">
                {%- if block.settings.banner_image != blank -%}
                {{ block.settings.banner_image | image_url: width: 'auto' | image_tag:
                  loading: 'lazy',
                  alt: block.settings.feature_icon.alt | escape
                }}
              {%- else -%}
               
              {{ 'flyer.jpg' | asset_url | img_tag: 'flyers' }}
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% schema %}
  {
    "name": "Flyer Content",
    "settings": [
      {
        "id": "banner_image",
        "type": "image_picker",
        "label": "Flyer Banner Image"
      },
      {
        "id": "current_flyer_button_text",
        "type": "text",
        "label": "Current Flyer Button Text",
        "default": "Our Current Flyer"
      },
      {
        "id": "current_flyer_button_link",
        "type": "url",
        "label": "Current Flyer Button Link"
      },
      {
        "id": "canada_flyer_button_text",
        "type": "text",
        "label": "Canada Flyer Button Text",
        "default": "Canada Wide Flyer"
      },
      {
        "id": "canada_flyer_button_link",
        "type": "url",
        "label": "Canada Flyer Button Link"
      }
    ],
    "blocks":[
    {
        "type": "flyer-image",
        "name": "Flyer Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "flyer_image",
            "label": "Flyer Image"
          }
        ]
      },
      {
        "type": "current-flyer-text",
        "name": "current flyer text",
        "settings": [
          {
            "type": "text",
            "id": "current_flyer_button_text",
            "label": "Current Flyer Button text"
          }
        ]
      },
      {
        "type": "current-flyer-link",
        "name": "current flyer link",
        "settings": [
          {
            "type": "url",
            "id": "current_flyer_button_link",
            "label": "Current Flyer Button link"
          }
        ]
      },
      {
        "type": "canada-flyer-text",
        "name": "canada flyer text",
        "settings": [
          {
            "type": "text",
            "id": "canada_flyer_button_text",
            "label": "Canada Flyer Button text"
          }
        ]
      },
      {
        "type": "canada-flyer-link",
        "name": "canada flyer link",
        "settings": [
          {
            "type": "url",
            "id": "canada_flyer_button_link",
            "label": "Canada Flyer Button link"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Flyer Content"
    }
  ]
  }
{% endschema %}