<section class="flyer-page">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          {% render 'left-sidebar' %}
          
        </div>
        <div class="col-12 col-md-9 mt-4 mt-md-0">
          <div class="flyers-data">
            <h1 class="main-page-title page-title h0">
              {{ page.title | escape }}
            </h1>
            <div class="page-feat-image">
              {{ 'mattressville_flyers.jpg' | asset_url | img_tag: 'flyers' }}
            </div>
            <div class="page-content">
              <p>{{ page.content | escape }}</p>
            </div>
            <div class="cta-box">
              <a href="" class="button-primary-rounded">View Our Current</a>
              <a href="" class="button-primary-rounded">Canada Wide Flyers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% schema %}
{
  "name": "Flyers",
  "settings": [
  {
    "type": "image_picker",
    "id": "flyer-banner-image",
    "label": "Select Banner Image",
    "default": "#"
  },
    {
      "type": "url",
      "id": "current-flyer-button",
      "label": "Current Flyer Link",
      "default": "#"
    },
    {
        "type": "text",
        "id": "current-flyer-button-text",
        "label": "Current Flyer Button Text",
        "default": "Our Current Flyer"
      },
      {
        "type": "url",
        "id": "current-flyer-button",
        "label": "Current Flyer Link",
        "default": "#"
      },
      {
          "type": "text",
          "id": "canada-flyer-button-text",
          "label": "Canada Flyer Button Text",
          "default": "Canada Wide Flyer"
        },
  ]
    }
{% endschema %}
