@media (min-width:0){
    .blog-list h3 a {
        color: #535353;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
      }
      .blog-list h3 a:hover{
        text-decoration: none;
        color: #535353;
      }
}

@media (min-width:769px){
    .blog-list h3 a {
        font-size: 22px;
      }
}