@media (min-width:0){
    #shopify-section-footer {
        background-color: #2A2828;
        color: #fff;
      }
      footer .section-footer-padding {
        padding-top: 83px;
        padding-bottom: 83px;
        margin: 0;
      }
      footer .about-us-text {
        margin-top: 24px;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
      }
      footer .footer-block__details-content.rte img {
        width: 190px;
      }
      .about-us-text {
        max-width: 290px;
      }
      .footer-block__heading, .footer-block h2, .footer-block h4 {
        font-size: 24px;
        line-height: 29.26px;
        font-weight: 700;
        color: #fff;
      }

      footer .address-details a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-bottom: 16px;
        font-size:16px;
        line-height: 19px;
        font-weight: 600;
      }
      .footer-block__details-content.list-unstyled {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      footer .footer-block__details-content.list-unstyled li{
        width:46%;
        text-align: left;
        margin: 0;
      }
      .footer-block__details-content.list-unstyled li a, .footer-block__details-content.list-unstyled li a:hover{
        text-decoration: none;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 24px;
        padding: 0;
      }
      .copyright__content {
        font-size: 16px;
        line-height: 19.4px;
        font-weight: 400;
        color: #fff;
      }
      footer .footer-social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 24px;
      }
      .footer-social a {
        width: 40px;
        margin-right: 24px;
        display: inline-block;
      }
      .footer-social a img{
        width: 100%;
      }
      footer .footer__content-bottom {
        border-top: none;
        padding-top:23px;
      }
      footer .footer__copyright.caption {
        margin-top: 0;
      }
      .copyright__content a:hover {
        color: #fff;
      }

  
}
@media (min-width:768px){
    .about-us-text {
        max-width: 290px;
      }
  
}
@media (min-width:992px){
  .footer-block__details-content.list-unstyled {
    max-width: 375px;
  }
  
}
@media (min-width:1320px){
  .footer-block.grid__item:last-child {
    padding-left: 100px;
  }
  
}
@media (min-width:1600px){
  
}