@media (min-width:0){
    body .header {
        padding: 0;
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
      }
}
@media (min-width:768px){
  
}
@media (min-width:992px){
  
}
@media (min-width:1320px){
  
}
@media (min-width:1600px){
  
}