@media(min-width:0){

  /* Banner Section */
  #Banner-template--16425168273633__image_banner {
    height: 154px;
  }
    .banner__box.content-container {
        width: 100%;
        max-width: 655px;
        padding: 0;
      }
    .banner-logo{
        width: 317px;
        margin: 0px auto;
    }
    .banner-logo img{
        width: 100%;
    }
    .banner__heading {
        color: #000;
        font-weight: 500;
        margin: 20px 0px 16px;
      }
      .banner__text.body {
        margin: 0;
      }
      .banner__text.body p{
        color: #000;
      }
     
    body .banner__box > * + .banner__buttons {
        margin-top:40px;
        max-width: 100%;
        width: 100%;
      }
      .mobile-banner-content {
        padding: 15px;
      }
      .mobile-banner-content .banner__box.content-container {
        width: 100%;
        max-width:500px;
        padding: 0;
      }
      .mobile-banner-content .banner-logo {
        width: 191px;
      }
      .mobile-banner-content .button-primary-rounded {
        width: 100%;
        max-width: 310px;
        margin: 0px auto;
      }
      /* End Banner Section */

      /* Key features */
      .key-features {
        margin-top: 53px;
      }
      .feature-border {
        border: 1px solid #000;
      }
      .feature-border .feature:nth-child(2) {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
      .key-feature {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
      }
      .feature-content {
        margin-left: 30px;
      }
      .feature-content h6{
        text-transform: uppercase;
      }
      .feature-content p{
        padding-top: 8px;
        line-height: 19.5px;
        font-weight: 400;
        text-transform: uppercase;
      }
      /* End Key features */
      /* Best Seller */
      .best-sellers .collection {
        padding: 40px 0px;
      }
      .best-sellers .collection__title.title-wrapper {
        margin-bottom: 0;
      }
      .best-sellers .collection__title h2 {
        margin-bottom: 16px;
      }
      .best-sellers .page-width-desktop {
        max-width: 100%;
      }
      .best-sellers .card__badge {
        display: none;
      }
      .best-sellers .card.card--standard {
        border: none;
      }
}
@media (min-width:768px){
  /* Banner Section */
  #Banner-template--16425168273633__image_banner {
    height:unset;
  }
  /* End banner Section */
  /* Key features */
  .key-features {
    margin-top: 122px;
  }
  .feature-border .feature:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top:0;
    border-bottom: 0;
  }
  /* End Key feature */
  /* Best seller */
  .best-sellers .collection {
    padding: 96px 0px;
  }
  .best-sellers .collection__title h2 {
    margin-bottom: 40px;
  }
  
}