@media (min-width: 0) {
    /* Add this to your CSS file */
#table-of-contents {
  margin: 20px 0;
}

#table-of-contents h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

#table-of-contents ul {
  list-style-type: none;
  padding: 0;
}

#table-of-contents li {
  margin-left: 10px;
}

#table-of-contents a {
  text-decoration: none;
  color: #333;
}

#table-of-contents a:hover {
  text-decoration: underline;
}

      /* Basic Styling */
      :focus-visible {
        outline:none !important;
        outline-offset:0 !important;
        box-shadow:none !important;
      }
      *{
        outline: none !important;
        box-shadow: none;
        outline-offset:0 !important;
      }
      .header__menu-item span:focus-visible, a:focus-visible {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
        text-decoration: none !important;
      }
      body .focus-inset:focus-visible {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
      }
      :focus-visible{
        outline: none;
        box-shadow: none;
      }
      html,
      body {
        margin: 0;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: 500;
        overflow-x: hidden;
        color: #535353;
      }
      a{
        outline: none;
      }
    
      /* TYPOGRAPHY */
      .text-color-white{
        color: #ffffff;
      }
      .text-color-dark-light{
        color: #535353;
      }
      .text-color-dark{
        color: #000000;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        margin: 0px 0px 8px 0px;
      }
      p {
        margin: 0px;
      }
    
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 24px;
        font-style: normal;
        line-height: 28.13px;
      }
    
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 32px;
        font-style: normal;
        line-height:39px;
      }
    
      h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        font-style: normal;
        line-height:36px;
      }
    
      h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight:500;
        font-size: 24px;
        font-style: normal;
        line-height: 36px;
      }
    
      h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 22px;
        font-style: normal;
        line-height: 28px;
      }
    
      h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        font-style: normal;
        line-height:21.94px;
      }
    
      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
      }
    
      a:focus,
      a:active {
        outline: none;
      }
    
      table {
        width: 100%;
      }
      .button-white{
        padding: 15px 20px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
        background-color:#fff;
        border: 1px solid #fff;
        transition: all 0.3s;
        text-decoration: none;
        border-radius: 30px;
        width: 100%;
        max-width: 310px;
        margin: 0px auto;
        display: inline-block;
      }
      .button-white:hover{
        color: #fff;
        background-color:#FF5C7B;
        border: 1px solid #FF5C7B;
      }
      .button-primary{
        padding: 12px 20px;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        background-color:#FF5C7B;
        border: 1px solid #FF5C7B;
        transition: all 0.3s;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
      }
      .button-primary:hover{
        background-color: #fff;
        color: #FF5C7B
      }
      .button-primary-rounded{
        padding: 12px 20px;
        border-radius: 32px;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        background-color:#FF5C7B;
        border: 1px solid #FF5C7B;
        transition: all 0.3s;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
      }
      .button-primary-rounded:hover{
        background-color: #fff;
        color: #FF5C7B
      }
    
      /* FORMS AND BUTTONS */
      input {
        background-color: transparent;
        color: #000000;
        outline: none;
      }
    
      textarea {
        background-color: transparent;
        color: #000000;
        outline: none;
      }
    
      /* Responsive images */
      img {
        width: 100%;
        height: auto;
      }
    }
    
    @media (min-width: 768px) {
    
      html,
      body {
        font-size: 16px;
        line-height:24px;
      }
    
      /* TYPOGRAPHY */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        margin: 0px 0px 15px 0px;
      }
    
      h1 {
        font-size: 40px;
        line-height: 50.51px;
      }
    
      h2 {
        font-size: 38px;
        line-height:46.51px;
      }
    
      h3 {
        font-size: 36px;
        line-height:40px;
      }
    
      h4 {
        font-size: 24px;
        line-height:36px;
      }
    
      h5 {
        font-size: 22px;
        line-height:32px;
      }
    
      p {
        font-size: 16px;
        line-height:24px;
      }
    }
    
    @media (min-width:1320px) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        margin: 0px 0px 25px 0px;
      }
      h1 {
        font-size: 48px;
        line-height: 58.51px;
      }
    
      h2 {
        font-size: 48px;
        line-height: 58.51px;
      }
    
      h3 {
        font-size: 40px;
        line-height: 36px;
      }
    }