<section class="flyer-page">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        {% section 'left-sidebar' %}
      </div>
      <div class="col-12 col-md-9 mt-4 mt-md-0">
        <div class="flyers-data">
          <h1 class="main-page-title page-title h0">
            {{ page.title | escape }}
          </h1>
          <div class="page-feat-image">
            {{ 'mattressville_flyers.jpg' | asset_url | img_tag: 'flyers' }}
          </div>
          <div class="page-content">
            <p>{{ page.content | escape }}</p>
          </div>
          <div class="cta-box">
            <a href="" class="button-primary-rounded">View Our Current</a>
            <a href="" class="button-primary-rounded">Canada Wide Flyers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "templates": ["article", "index", "page", "product"]
}
{% endschema %}
